website/** linguist-documentation
docs/** linguist-documentation
docs_pt/** linguist-documentation
assets/** linguist-documentation
*.md linguist-documentation
LICENSE linguist-documentation
.github/** linguist-generated
scripts/** linguist-generated
tests/** linguist-generated
examples/** linguist-generated
